@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

html, body {
    font-family: 'Ubuntu Mono', monospace;
}

:root {
    --indigo-400: #818CF8;
}

.sudoku-container {
    width: 80vw;
    height: 80vw;

    @media (min-width: 600px) {
        width: 400px;
        height: 400px;
    }

    @media (min-width: 1000px) {
        width: 700px;
        height: 700px;
    }
}

.cell {
    border-top: 1px solid var(--indigo-400);
    border-left: 1px solid var(--indigo-400);
    &:nth-child(-n+2) {
        border-top: 1px solid var(--indigo-400);
    }
    &:nth-child(odd) {
        border-left: 1px solid var(--indigo-400);
    }
    &:nth-child(-n+3) {
        border-top: none;
    }
    &:first-child,
    &:nth-child(3n+1) {
        border-left: none;
    }
}
